@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poiret One", cursive;
}

header img {
  width: 100%;
  aspect-ratio: 17 / 3;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/* Helper classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* General */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

meter {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 5px;
}

meter::-webkit-meter-optimum-value {
  background-color: #0f0;
}

/* Styling for the text labels */
.mySkills label:first-child {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: middle;
}

.mySkills label span {
  font-weight: 400;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.niceStyling {
  width: 50px;
  height: 40px;
  margin: 1rem;
  background: pink;
  border-radius: 50%;
}
